<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phantomrehab">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhantomRehab">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity android:name=".CheckUser"/>-->

        <activity android:name=".SignupActivity"/>

        <activity android:name=".HomeActivity"/>
<!--        <activity android:name=".MedMenu"/>-->
        <activity android:name=".MedActivity"/>
        <activity android:name=".MedFinish"/>
        <activity android:name=".ReminderActivity"/>
        <activity android:name=".FAQsActivity"/>

        <activity android:name=".SettingsActivity"/>
<!--        <activity android:name=".LangActivity"/>-->
        <activity android:name=".ColorActivity"/>
<!--        <activity android:name=".TextSizeActivity"/>-->

        <activity android:name=".ProfileActivity"/>
        <activity android:name=".ProfileVerification"/>
        <activity android:name=".EditProfile"/>
        <activity android:name=".EditPassword"/>

        <activity android:name=".ProgressActivity"/>

        <activity android:name=".ChooseLevel"/>

        <activity android:name=".BeginnerIntro"/>
        <activity android:name=".BeginnerMain"/>
        <activity android:name=".BeginnerInfo"/>
        <activity android:name=".BeginnerFinish"/>
<!--        <activity android:name=".BeginnerPass"/>-->
<!--        <activity android:name=".BeginnerFail"/>-->

        <activity android:name=".IntermedMain"/>
        <activity android:name=".IntermedVideo"/>
        <activity android:name=".IntermedFinish"/>

        <activity android:name=".HardMain"/>
        <activity android:name=".HardInfo"/>
        <activity android:name=".HardFinish"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".MusicService"/>

        <receiver android:name=".AlarmReceiver"/>

    </application>

</manifest>